
@{
	ViewBag.Title = "AssAdminMain";
	Layout = "~/Views/Shared/Admin_Layout_Ass.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AssAdminMain</title>
</head>
<body>
	<div>
		欢迎来到社团组织管理系统，本系统可以更好地管理社团和组织！
		这里是社团管理员端系统!
	</div>
</body>
</html>
