@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>社团管理系统学生端页面</title>
	<style type="text/css">
		.stuindexmenubar{width:100%;
						 text-align:center;
		}
	</style>
</head>
<body>
	<div class="stuindexmenubar">
	<form id="form1" runat="server">
		<h2>学生端页面</h2>
		<div>
			<p><a class="btn btn-default" href="~/First/StuLogin">学生登录 &raquo;</a></p>
			<p><a class="btn btn-default" href="~/First/StuRegister">学生注册 &raquo;</a></p>
		</div>
	</form>
	</div>
</body>
</html>

