
@{
	ViewBag.Title = "AddApprise";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
	<script src="~/Scripts/jquery-3.3.1.js"></script>
	<script type="text/javascript">
		//onload
		$(function () {
			setInterval("getTime();", 1000); //每隔一秒运行一次
			var assinfo = eval(document.getElementById("assinfo").value);
			var jsonstr = eval(document.getElementById("info").value);
			//alert(document.getElementById("info").value);
			createassinfoTable(assinfo);
			createTable(jsonstr);
			/*var dtb = generateDtb();
			//序列化对象
			var postdata = JSON.stringify(dtb);
			$.ajax({
				type: "GET",
				url: "~/Admin/AllAdministratorData",
				data: null, //可选参数
				dataType: "json",
				success: function (data) {
					var jsonstr = eval(data);
					createTable(data);
				} //可选参数
			});*/
		});
		//显示Json中的数据
		function createassinfoTable(json) {
			var option = null;
			$.each(json, function () {
				option = "<option value='" + this.id + "'>" + this.associationname + "</option>";
				$("#assinfoselect").append(option);
			});
		}
		//显示Json中的数据
		function createTable(json) {
			//var data = eval(json);
			//alert(data);
			//for (var i = 0; i < data.length; i++) {
			/*for (var i = 0; i < json.length; i++) {
				o1 = json[i];
				var row = $("<tr></tr>");
				for (key in o1) {
					var td = $("<td></td>");
					td.text(o1[key].toString());
					td.appendTo(row);
				}
				row.appendTo(table);
			}
			table.appendTo(admintb);*/
			$.each(json, function () {
				var tr = "<tr><td><a style='color:#000000;text-decoration:none;' href='/Apprise/OneApprise/" + this.id + "' target='_blank'><div style='white-space:nowrap;overflow:hidden;text-overflow:ellipsis;'>社团："
					+ this.associationname + "</div><div style='white-space:nowrap;overflow:hidden;text-overflow:ellipsis;'>建议：" + (this.suggestcontent.length > 11 ? this.suggestcontent.substr(0,10)+"...":this.suggestcontent) + "</div><div style='white-space:nowrap;overflow:hidden;text-overflow:ellipsis;'>评价："
					+ (this.apprisecontent.length > 11 ? this.apprisecontent.substr(0, 10) + "..." : this.apprisecontent) + "</div></a></td></tr>";
				$("#infodtb").append(tr);
			});
			//}
		}
		/**************************************时间格式化处理************************************/
		//往往json传过来的时间都是"/Date(1405056837780)/"
		//转换需要的方法
		String.prototype.ToString = function (format) {
			var dateTime = new Date(parseInt(this.substring(6, this.length - 2)));
			format = format.replace("yyyy", dateTime.getFullYear());
			format = format.replace("yy", dateTime.getFullYear().toString().substr(2));
			format = format.replace("MM", dateTime.getMonth() + 1);
			format = format.replace("dd", dateTime.getDate());
			format = format.replace("hh", dateTime.getHours());
			format = format.replace("mm", dateTime.getMinutes());
			format = format.replace("ss", dateTime.getSeconds());
			format = format.replace("ms", dateTime.getMilliseconds());
			return format;
		};
		//取得系统当前时间
		function getTime() {
			var myDate = new Date();
			var date = myDate.toLocaleDateString();
			var hours = myDate.getHours();
			var minutes = myDate.getMinutes();
			var seconds = myDate.getSeconds();
			$("#showDate").html(date + "\n" + hours + ":" + minutes + ":" + seconds); //将值赋给div
		}
		function onsubmitok(thisform) {
			var flag = false;
			with (thisform) {
				if (thisform.apprisecontent.value == "" || thisform.suggestcontent.value == "" || thisform.assid.value == "") {
					$("#errormsg").html("不能为空！");
					flag = false;
				} else {
					flag = true;
				}
			}
			return flag;
		}
	</script>
}
<input type="hidden" value="@ViewData["apprise"]" id="info" />
<div style="margin-top:11px;">
	<div style="width:20%; float:left;">
		<div style="background:#000000;color:#dadada;height:30px;line-height:30px;text-indent:11px;">最新评价&raquo;</div>
		<table id="infodtb" class="table" style="background:#f1f0f0;width:99%;margin:0 auto;">
			<tbody></tbody>
		</table>
	</div>
	<div style="width:80%; float:left;">
		<div style="margin-top:0px;">
			<input type="hidden" value="@ViewData["assinfo"]" id="assinfo" />
			<span id="showDate"></span>
			<div>
				<form class="form-horizontal" action="~/Apprise/AddApprise" method="post" onsubmit="return onsubmitok(this)" style="width:260px;margin:170px;margin-top:0px;">
					<h2 style="text-align:center;">评价社团/组织</h2>
					<input type="hidden" value="@Session["userid"]" id="stuid" name="stuid" />
					@{
						try
						{
							//string userid = Session["userid"].ToString();
							if (Session["userid"] == null)
							{
								Response.Write("<script>alert('没有登录！请先登录');window.location.href='/First/StuLogin';</script>");
							}
						}
						catch (Exception e)
						{
							Response.Write("<script>alert('" + e.Message + "');window.location.href='/First/StuLogin';</script>");
						}
					}
					<div class="form-group">
						<textarea class="form-control" rows="3" name="apprisecontent" placeholder="评价内容"></textarea>
					</div>
					<div class="form-group">
						<textarea class="form-control" rows="3" name="suggestcontent" placeholder="建议内容"></textarea>
					</div>
					<div class="form-group">
						<select id="assinfoselect" class="form-control" name="assid">
							<option>----选择社团----</option>
						</select>
					</div>
					<div class="form-group" id="errormsg">
						@ViewBag.AddApprise
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-default">提交</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div style="clear:both;"></div>
</div>

